
<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>

    <%= f.label :published_at %>
    <%= f.date_select(:published_at,
                      :default => Date.today,
                      :order => [:day, :month, :year],
                      :start_year => Date.today.year,
                      :end_year => Date.today.year - 150,
                      :id => 'published_at') %>

    <%= f.label :author_id %>
    <%= f.collection_select(:author_id, Author.all, :id, :description, prompt: true) %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
