<p id="notice"><%= notice %></p>

<%= form_tag(books_path, method: :get) do %>
  <%= label_tag 'label_title', 'Title' %>
  <%= radio_button_tag 'search_type', 'book_title', true %>
  <%= label_tag 'label_author_name', 'Author' %>
  <%= radio_button_tag 'search_type', 'author_name' %>
  <%= text_field_tag 'search', nil, placeholder: 'Digite o título do livro...' %>
  <%= submit_tag "Filtrar" %>
<% end %>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published at</th>
      <th>ISBN</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.published_at %></td>
        <td><%= book.isbn %></td>
        <td><%= book.author.description %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
