<p id="notice"><%= notice %></p>

<p>
  <strong>CNPJ:</strong>
  <%= @supplier.cnpj %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supplier.description %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
