<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Digit:</strong>
  <%= @account.digit %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= "#{@account.supplier_id} - #{@account.supplier.description} "  %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
